<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Restaurant</title>
</head>
<body>
<h1>Edit Restaurant</h1>
<form th:action="@{/restaurants/update/{id}(id=${restaurant.restaurantId})}" th:object="${restaurant}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required />
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" th:field="*{location}" required />
    <br>
    <button type="submit">Update</button>
</form>
<a href="/restaurants/list">Back to Restaurants</a>
<br>
<a href="/menu">Menu</a> | <a href="/orders">Orders</a>
</body>
</html>
