<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders List</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Orders</h1>
<table border="1">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Dish</th> <!-- Новая колонка -->
        <th>Restaurant</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.dish.dishName}"></td> <!-- Отображаем название блюда -->
        <td th:text="${order.dish.restaurant.name}"></td> <!-- Ресторан теперь через блюдо -->
        <td th:text="${order.quantity}"></td>
        <td>
            <a th:href="@{/orders/{id}/edit(id=${order.orderId})}">Edit</a>
            <a th:href="@{/orders/{id}/delete(id=${order.orderId})}"
               onclick="return confirm('Are you sure you want to delete this order?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/orders/new">Add New Order</a>
<br>
</body>
</html>