<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Restaurant</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Add New Restaurant</h1>
<form th:action="@{/restaurants}" th:object="${restaurant}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required />
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" th:field="*{location}" required />
    <br>
    <button type="submit">Save</button>
</form>
<a href="/restaurants/list">Back to Restaurants</a>
<br>
</body>
</html>
